
.godot/editor/TruckInside.tscn-editstate-8fbb2e5cb1aaa87b861399907972a9cd.cfg
.godot/editor/project_metadata.cfg
.godot/editor/TruckInside.tscn-editstate-8fbb2e5cb1aaa87b861399907972a9cd.cfg
*.cfg
*.bin
